---
import ThemeIcons from "../../components/ThemeIcons.astro";
import SpainIcon from "../../icons/SpainIcon";
import UnitedkingdomIcon from "../../icons/UnitedkingdomIcon";
const buttonTransition =
  "transition transform duration-100 ease-in-out delay-50  hover:text-slate-950 hover:scale-125 hover:font-semibold";

const primaryNavItems = [
  {
    title: "Home",
    url: "/en/#home",
    class: buttonTransition,
  },
  {
    title: "Projects",
    url: "/en/#projects",
    class: buttonTransition,
  },
  {
    title: "About me",
    url: "/en/#about-me",
    class: buttonTransition,
  },
  {
    title: "Skills",
    url: "/en/#skills",
    class: buttonTransition,
  },
];

const secondaryNavItems = [
  {
    logo: SpainIcon,
    url: "/",
    label:"Change the language to Spanish"
  },
  {
    logo: UnitedkingdomIcon,
    url: "/en",
    label:"Change the language to English"
  },
];
---

<nav
  class="nav-links w-full flex-wrap gap-x-8 flex flex-col align-center justify-center text-slate-600 dark:bg-slate-950 bg-stone-200"
>
  <div
    class="divide-y-2 divide-gray-500 dark:divide-y-2 dark:divide-slate-100/40"
  >
    <div class="flex justify-evenly items-center text-md py-2">
      {
        primaryNavItems.map((link) => (
          <a class={link.class} href={link.url}>
            {link.title}
          </a>
        ))
      }
    </div>
    <div class="flex justify-end items-center gap-x-2 pr-6 py-2">
      {secondaryNavItems.map((link) => <a aria-label={link.label} href={link.url}>{<link.logo />}</a>)}
      <ThemeIcons />
    </div>
  </div>
</nav>