---
import CardProject from "../../components/CardProject.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import type { languageList } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const currentLang = Astro.currentLocale || "es";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);

const section = {
  id: translateLabels("otherProjects.id"),
  name: translateLabels("otherProjects.name"),
};

const projects = await getCollection("projects", ({ id }) => {
  return id.startsWith(currentLang);
});
---

<Layout
  title="Carlos Pulido's Portfolio Web and Programming Developer - Other Projects.."
  description="Hire Carlos Pulido to create web and mobile applications."
>
  <main class="relative pt-4 w-full desktop:w-8/12 desktop:self-center">
    <SectionContainer
      id={`${translateLabels("otherProjects.id")}`}
      className="pt-36"
    >
      <h3
        class="text-3xl flex items-center gap-x-2 pb-14 font-bold dark:text-white text-slate-800"
      >
        <span>
          <svg
            class="size-8"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 8l-4 4l4 4"></path>
            <path d="M17 8l4 4l-4 4"></path>
            <path d="M14 4l-4 16"></path>
          </svg>
        </span>
        {translateLabels("otherProjects.name")}
      </h3>

      {
        section.name === translateLabels("otherProjects.name") &&
          projects
            .slice(3, 7)
            .map((project) => (
              <CardProject
                title={project.data.title}
                description={project.data.description}
                imageSrc={project.data.image.src}
                imageAlt={project.data.image.alt}
                loading={project.data.loading}
                codeLink={project.data.codeLink}
                liveLink={project.data.liveLink}
                tags={project.data.tags}
              />
            ))
      }
    </SectionContainer>
  </main>
</Layout>
