---
const currentLang = Astro.currentLocale || "es";
import ThemeIcons from "./ThemeIcons";
import SpainIcon from "../../src/icons/SpainIcon";
import UnitedkingdomIcon from "../../src/icons/UnitedkingdomIcon.jsx";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);

const buttonTransition =
  "transition transform duration-100 ease-in-out delay-50  hover:text-slate-950 hover:scale-125 hover:font-semibold dark:text-slate-300";

const primaryNavItems = [
  {
    title: translateLabels("nav.home"),
    url:  `/${currentLang}/${translateLabels('home.url')}`,
    class: buttonTransition,
  },
  {
    title: translateLabels("nav.projects"),
    url: `/${currentLang}/${translateLabels('projects.url')}`,
    class: buttonTransition,
  },
  {
    title: translateLabels("nav.about"),
    url: `/${currentLang}/${translateLabels('about.url')}`,
    class: buttonTransition,
  },
  {
    title: translateLabels("nav.skills"),
    url: `/${currentLang}/${translateLabels('skills.url')}`,
    class: buttonTransition,
  },
];

const secondaryNavItems = [
  {
    logo: SpainIcon,
    url: "/es/",
    label: translateLabels('nav.aria.changeEsLanguage'),
  },
  {
    logo: UnitedkingdomIcon,
    url: "/en/",
    label: translateLabels('nav.aria.changeEnlanguage'),
  },
];
---

<nav
  class="fixed top:0 w-full z-20 nav-links flex-wrap gap-x-8 flex flex-col align-center justify-center text-slate-600 dark:bg-neutral-900 bg-white border-2 dark:border-0 md:w-full md:h-auto md:mx-auto desktop:w-8/12 desktop:self-center desktop:rounded-b-xl desktop:border-transparent"
>
  <div
    class="divide-y-2 divide-gray-500 dark:divide-y-2 dark:divide-slate-100/40"
  >
    <div class="flex justify-evenly items-center text-xs py-2 px-2">
      {
        primaryNavItems.map((link) => (
          <a class={`tablet:text-base ${link.class}`} href={link.url}>
            {link.title}
          </a>
        ))
      }
    </div>
    <div class="flex justify-end items-center gap-x-2 pr-6 py-2">
      {
        secondaryNavItems.map((link) => (
          <a
            class="flex gap-x-1 items-center transition duration-150 ease-in-out hover:font-bold hover:scale-110"
            aria-label={link.label}
            href={link.url}
          >
            <span class="text-xs dark:text-white/80">
              {link.url === "/en/" ? "EN" : "ES"}
            </span>
            {<link.logo />}
          </a>
        ))
      }
      <ThemeIcons currentLang={currentLang} client:load />
    </div>
  </div>
</nav>
