---
// Supports weights 100-900
import '@fontsource-variable/inter';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import 'devicon/devicon.min.css';
import { ClientRouter } from 'astro:transitions';
const currentLang = Astro.currentLocale || 'es';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <meta
      name='google-site-verification'
      content='8RGZxlk3Xueb1Prpa_JhuUnesVCAu9Myl-uBXiA3vtE'
    />
    <link rel='canonical' href='https://carlospulido.netlify.app/' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta charset='UTF-8' />
    <meta name='title' content={title} />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='robots' content='index, follow' />
    <meta name='theme-color' content='#342646' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta
      property='og:image'
      content='https://carlospulido.netlify.app/yo.png'
    />
    <meta property='og:image:alt' content='Una fotografía de Carlos Frontend' />
    <meta property='og:url' content='https://carlospulido.netlify.app' />
    <meta property='og:type' content='website' />
    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@CarlosFrontEnd' />
    <meta name='twitter:creator' content='@CarlosFrontEnd' />
    <meta property='twitter:url' content='https://carlospulido.netlify.app' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta
      name='twitter:image'
      content='https://carlospulido.netlify.app/yo.png'
    />
    <link
      rel='alternate'
      hreflang='en'
      href='https://carlospulido.netlify.app/en'
      hreflang='en-GB'
    />

    <title>{title}</title>
    <ClientRouter />
  </head>

  <body>
    <Navigation />
    <slot transition:animate='slide' />
    <Footer />
  </body>
</html>

<style is:global>
  /*   :root {
    color-scheme: dark light;
  } */
  html {
    font-family: 'Inter Variable', system-ui, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: #f8f8f9;
  }

  .dark body {
    background: linear-gradient(90deg, rgb(63 44 87) 0%, rgb(21, 23, 24) 100%);
    min-height: 100vh;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
  }

  @media (prefers-color-scheme: dark) {
    .dark body {
      background-color: black;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
<script is:inline>
  // Close the language selector dropdown when the window is clicked in other place
  window.addEventListener('click', (e) => {
    const dropdownContainer = document.querySelector('#dropdownDefaultButton');
    const dropdown = document.querySelector('#dropdown');
    if (!dropdownContainer.contains(e.target)) {
      dropdown.classList.remove('visible');
    }
  });

  window.addEventListener('click', (e) => {
    const dropdownSmartphone = document.querySelector('#dropdownSmartphone');
    if (!dropdownContainer.contains(e.target)) {
      dropdownSmartphone.classList.remove('visible');
    }
  });
</script>
